<h1>I AM</h1>

<%= form_tag sessions_path do %>
	<p>
		<%= form_tag sessions_path do %>
			<%= select_tag :id, options_for_select(user_all_select_options), :prompt => 'Select name' %>
			<p class="button"><%= submit_tag "Sign In" %></p>
		<% end %>
	</p>
	
<% end %>