
	<h2>Next Lunch From: <%= @restaurant.name %></h2>
		<div>Your Order: <%= @order_item.item.name%></div>

			<div>	Additional notes: 
				<% if @order_item.notes.empty? %>
					none
				<% else %>
					<%= @order_item.notes%>
				<% end %>
			</div>
    
<div style="margin-top:50px">
<%= link_to 'Edit', edit_restaurant_order_order_item_path(@restaurant, @order_item.order, @order_item), class: "btn btn-primary" %>
</div>