/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.login_box{
	width: 500px;
	height: 100px;
	margin-left: 350px;
	margin-top: 80px;
}

.sign_up_box{
	width: 500px;
	height: 100px;
	margin-left: 400px;
	margin-top: 30px;
}

.login_text{
	margin-top:20px;
	margin-left:60px;
}

.font_sign_in{
	font-size: 30px;
	font-weight: bold;
}

#background {
	background: url(/assets/fruits.jpg) left top no-repeat fixed;
	background-size: 100% auto;
}